*{
  background-color: rgb(190, 190, 190);
  font-family: monospace;
  box-sizing: border-box;

}
.header{  margin: auto;
  text-align: center;
  width: 500px;
}
.couch {
  width: 500px;
  margin: auto;
  display: block;
}
.longimg {
  max-width: 100%;
  margin: auto;
  display: flex;
}
.butnwrap {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: xx-large;
}
.flex {
  display: flex;
  margin: auto;
}
.others {
margin-right: auto;
font-size: large;
justify-content: flex-end;

}
.instructions {
  width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
button {
  background-color: rgb(183, 205, 224);
  width: 150px;
  height: 40px;
}